
.background {
    margin: 0px;
    display: relative;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 200vh;
    height: 100vh;
    background-image: url('assets/background/index2_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#select_game {
    margin-top: 180px;
    display: flex;
    align-content: center;
}
.start-button a{
    font-size: 29px;
    text-decoration: none;
    background: #66c3e6;
    color: white;
    display: inline-block;
    padding: 12px 20px 8px;
    border-radius: 7px;
    -webkit-transition: background-color 0.2s easy-in;
    -moz-transition: background-color 0.2s easy-in;
    transition: background-color 0.2s easy-in;
}
#space{
    width: 100%;
    height: 400px;
}
.start-button{
    display: absolute;
    text-align: center;
}
.start-button a:hover{
    background-color: #50bae2;
}

#compare_number {
    padding: 5px;
    margin-left: auto;
    margin-right: 300px;
    opacity: 0.7;
}

    #compare_number:hover {
        transition: 1s;
        opacity: 1;
        transform: translateY(-50px);
    }

        #compare_number:hover a {
            transition: 0,5s;
            color: #111;
        }

img {
    height: auto;
    width: auto;
}

a {
    text-decoration: none;
    color: #666777;
}
