
#select_game {
    margin-top: 180px;
    display: flex;
    align-content: center;
}

#compare_number {
    padding: 5px;
    margin-left: auto;
    margin-right: 300px;
    opacity: 0.7;
}

    #compare_number:hover {
        transition: 1s;
        opacity: 1;
        transform: translateY(-50px);
    }

        #compare_number:hover a {
            transition: 0,5s;
            color: #111;
        }

img {
    height: auto;
    width: auto;
}

a {
    text-decoration: none;
    color: #666777;
}
