body{
    margin:0px;
    font-family:"Comic Sans MS",serif;
}
.background {
    margin: 0px;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 203vh;
    height: 100vh;
    background-image: url('assets/background/kodi-room.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#space{
    width: 100%;
    height: 450px;
    color:white;
    font-style: italic;
    user-select: none;
    text-shadow:3px 3px 3px purple;
}
#text1{
    text-align: center;
    font-size: 100px;
    margin-bottom: 20px;
}
#text2{
    margin-left: 700px;
    font-size: 50px;
}
#start-btn{
    margin-top: 49px;
    margin-left: 666px;
    width: 170px;
    height:115px;
    background-image: url('assets/button/start-btn1.png');
    background-size: 150px auto;
    background-repeat: no-repeat;
}
#start-btn:hover{
    cursor: pointer;
    background-size: 160px auto;
}
.kodi-and-friend{
    z-index: 1;
    position: absolute;
    margin-top: 0px;
    margin-left: 550px;
    width: 700px;
    height: 285px;
    background-image: url(assets/obj/kodi-and-friend.png);
    background-repeat: no-repeat;
    background-size: 700px auto;
}


