body {
    margin :0px;
    font-family:Arial;
}
.screen {
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 203vh;
    height: 100vh;
    background-image: url('assets/background/2-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    position: relative;
    float: left;
    width: calc(100% - 170px);
    height: 100vh;
}
.animation {
    position: relative;
    width: 170px;
    height: 100vh;
    margin-left: calc(100% - 170px);
}
   /* .animation .bear-place {
        background-color: white;
        z-index: 0;
        background-size: 100%;
        width: 340px;
        min-height: 339px;
        border-radius: 152px;
        position: absolute;
        margin-top: calc(100% + 440px);
        box-shadow: 0px 2px 19px 0px rgba(0, 0, 0, 0.5), 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    }*/

    .animation .kodi {
        z-index: 1;
        position: absolute;
        margin-top: 500px;
        margin-left: 10px;
        width: 100%;
        height: 230px;
        background-image: url('assets/obj/bear.png');
        background-repeat:no-repeat;
    }
    .kodi-place{
        z-index: 0;
        margin-top: 550px;
        margin-left: -38px;
        width: 208px;
        height: 180px;
        background-image: url('assets/obj/kodi_place.png');
        
    } 
    .kodi-hat{
        z-index: 100;
        position: absolute;
        margin-top:-335px;
        margin-left: 15px;
        width: 150px;
        height: 150px;
        background-image: url('assets/obj/kodi_hat.png');
        background-size: 150px 150px;
    }
    .kodigif{
        position: absolute;
        width: 155%;
        height: 261px;
        margin-top: 470px;
        margin-left: -93px;
        /* background-size: 267px auto; */
    }
    .kodigif:hover{
        cursor: pointer;
    }
    #kodi{
        width: 100%;
        height:100%
    }
.content .home {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    background-image: url('assets/button/home4.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.content .home:hover{
    cursor:pointer;
    background-image: url('assets/button/home5.png');

}
.content .space {
    margin-top: 70px;
    width: 100%;
    height: 210px;
    text-align:center;
    padding:50px;
    user-select: none;
}
#topic{
    font-size: 50px;
    color: brown;
    text-shadow: 1px 1px black;
}
#level{
    margin: 0px !important; 
    padding-left: 30px;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px black;
    text-align: left;
    user-select: none;
}


.content .box-number {
    display: flex;
    margin-left: 200px;
    width: 1000px;
    height: 200px;
}

.number {
    width: 200px;
    height: 200px;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 200px;
}

    .number:hover {
        cursor: pointer;
    }

/* .first {
    background-image: url('assets/number/1.png');
}

.second {
    background-image: url('assets/number/2.png');
}

.third {
    background-image: url('assets/number/3.png');
}

.fort {
    background-image: url('assets/number/4.png');
}

.fifth {
    background-image: url('assets/number/5.png');
} */
.summit-answer {
    display: flex;
    margin-left: calc(100% - 127px - 120px);
    margin-top: 40px;
    width: 135px;
    height: 100px;
    background-image: url('assets/button/submit.png');
    background-repeat:no-repeat;
    background-size:cover;
}
.summit-answer:hover {
        cursor: pointer;
        background-image: url('assets/button/submit_2.png');
}
#bg-music-speaker{
    margin-top: -40px;
    width:70px;
    height:70px;
}
#music-icon{
    width: 100%;
    height: 100%;
}
